<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여기안돼!</title>
</head>
<body>
    <h1>상세페이지칸</h1>
    <div>
        <h2>{{store.name}}</h2>
        <a href="{{store.naver_link}}">네이버 바로가기</a> <br>
        별점 : {{store.score}}<br>
        전화번호 : {{store.call}} <br>
        주소 : {{store.address}} <br>
        운영시간 : {{store.operation}} <br>
    </div>
    <div>
        <h2>최근 리뷰</h2>
        {% for review in reviews %}
        <div>
            {{review.review_id}} - 별점 : {{review.score}} <br>
            {{review.text}}
        </div>
        {% endfor %}
    </div>
    
</body>
</html>