{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}
{% block content %}
<div>
    <div>
        <h2>{{store.name}}</h2>
        <a href="{{store.naver_link}}"> 바로가기</a>
        <br>
        별점 : {{store.score}}<br>
        전화번호 : {{store.call}} <br>
        주소 : {{store.address}} <br>
        운영시간 : {{store.operation}} <br>
    </div>
    <div id='review'>
        <h2>최근 리뷰</h2>
        {% for review in reviews %}
        <div>
            {{review.nickname}} |{{review.date}}|  {{review.score}} <br>
            {{review.text}}
        </div>
        {% endfor %}
    </div>
    <div>
        <div>
            좋아요 수 : {{ store.liked_users.count }}
        </div>
        {% if user.is_authenticated %}
            {% if user in store.liked_users.all %}
                <form action="{% url 'like' store.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">LIKE</button>
                </form>
            {% else %}
                <form action="{% url 'like' store.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" >LIKE</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}