{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#data').visualize({type:'bar'});
            $('#data').visualize({type:'area', width:'400px'});

        });
    </script>

{% endblock %}
{% block content %}
<div>
    <div>
        <h2>{{store.name}}</h2>
        <a href="{{store.naver_link}}"> 바로가기</a>
        <br>
        별점 : {{store.score}}<br>
        전화번호 : {{store.call}} <br>
        주소 : {{store.address}} <br>
        운영시간 : {{store.operation}} <br>
    </div>
    <div id='review'>
        <h2>최근 리뷰</h2>
        {% for review in reviews %}
        <div>
            {{review.nickname}} |{{review.date}}|  {{review.score}} <br>
            {{review.text}}
        </div>
        {% endfor %}
    </div>
    <div>
        <h2>이 장소를 가려는 사람들</h2>
        <div>
            (찜)좋아요 수 : {{ store.liked_users.count }}
        </div>
        {% if user.is_authenticated %}
            {% if user in store.liked_users.all %}
                <form action="{% url 'like' store.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">LIKE</button>
                </form>
            {% else %}
                <form action="{% url 'like' store.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" >LIKE</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <div>
        <table id="data">
            <caption>이용자수 예상</caption>
            <thead>
                <tr>
                    <td></td>
                    <th>-5일</th>
                    <th>-4일</th>
                    <th>-3일</th>
                    <th>-2일</th>
                    <th>-1일</th>
                    <th>0일</th>
                    <th>+1일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>방문자수</th>
                    {% for visit in graph %}
                    <td>{{visit}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

    </div>
    
</div>
{% endblock %}