{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
{% comment %} option_container {% endcomment %}
<div class ="option_container">
    <form action="{% url 'home' %}" method="POST" name="option">
        {% csrf_token %}
        <h3>상세조건</h3>
        (확인용) <br>
        업종 : {{category}} <br>
        지역 : {{region}} <br>
        <div class='space_around_ct'>
            <button id='option_bt' type="submit">초기화</button>
            <button id='option_bt' type="submit">적용</button>
        </div>

        <h4>업종별(예시)</h4>
        <input type="checkbox" name="category[]" value="전체"id="전체_cate">
        <label for="전체_cate">전체</label>
        <input type="checkbox" name="category[]" value="식당"id="식당">
        <label for="식당">식당</label>
        <br>
        <input type="checkbox" name="category[]" value="카페"id="카페">
        <label for="카페">카페</label>
        <input type="checkbox" name="category[]" value="영화관"id="영화관">
        <label for="영화관">영화관</label>
        <br>
        <input type="checkbox" name="category[]" value="공원"id="공원">
        <label for="공원">공원</label>
        <input type="checkbox" name="category[]" value="액티비티"id="액티비티">
        <label for="액티비티">액티비티</label>
        <br>
        <input type="checkbox" name="category[]" value="숙소"id="숙소">
        <label for="숙소">숙소</label>
        <input type="checkbox" name="category[]" value="마트"id="마트">
        <label for="마트">마트</label>
        
        <h4>지역별(예시)</h4>
        <input type="checkbox" name="region[]" value="전체"id="전체_re">
        <label for="전체_re">전체</label>
        <input type="checkbox" name="region[]" value="서울"id="서울">
        <label for="서울">서울</label><br>
        <input type="checkbox" name="region[]" value="부산"id="부산">
        <label for="부산">부산</label>
        <input type="checkbox" name="region[]" value="광주"id="광주">
        <label for="광주">광주</label><br>
        <input type="checkbox" name="region[]" value="대구"id="대구">
        <label for="대구">대구</label>
        <input type="checkbox" name="region[]" value="인천"id="인천">
        <label for="인천">인천</label><br>
        <input type="checkbox" name="region[]" value="울산"id="울산">
        <label for="울산">울산</label>
        <input type="checkbox" name="region[]" value="대구"id="대구">
        <label for="대구">대구</label>
    </form>
</div>
<!-- 옵션선택부분 끝 -->
<!-- 데이터가 보이는 부분 -->
<div class="stores">
    <div class="here" id="no_div">
        <h2>여기안돼.</h2>
        <h3>평점 대비 사람이 너무 몰려요</h3>
        {% for stores in store_list %}
            {% for store in stores %}
            <div class="store">
                <div class='rank'>
                    <h3>RANK</h3>
                    <h1>{{ forloop.counter }}</h1>
                </div>
                <div>
                    <img src="" alt="업종별 아이콘" width="80" hight="80">
                    <a href="{% url 'detail' store.pk %}">
                    <h3>
                    {{store.name}}
                    </h3>
                    </a>
                    <div>
                        별점: {{store.score}} 리뷰수:
                        <script>
                            document.write( {{store.visitors_reviews}} + {{store.blog_reviews}} )
                        </script> 
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="here" id="yes_div" style="display: none;">
        <h2>여긴어때?</h2>
        <h3>최근 방문자가 적지만 좋은 곳을 추천해요</h3>
        {% for stores in store_list %}
            {% for store in stores %}
            <div class="store">
                <div class='rank'>
                    <h3>RANK</h3>
                    <h1>{{ forloop.counter }}</h1>
                </div>
                <div>
                    <img src="" alt="업종별 아이콘" width="80" hight="80">
                    <a href="{% url 'detail' store.pk %}">
                    <h3>
                    {{store.name}}
                    </h3>
                    </a>
                    <div>
                        별점: {{store.score}} 리뷰수:
                        <script>
                            document.write( {{store.visitors_reviews}} + {{store.blog_reviews}} )
                        </script> 
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        {% endfor %}
    </div>
</div>
<!-- 데이터가 보이는 부분 끝 -->
<script src="/static/js/home.js"></script>
<script>
    // document.option.category[].value="{{category}}";
    // document.option.region[].value="{{region}}";
    // $('input:checkbox[id={{region}}]').is(':checked')
    // $('input:checkbox[id={{category}}]').is(':checked')
</script>
{% endblock %}