div{
    /* border: blue 1px solid; */
}
.store{
    display: flex;
}

.option_container{
    padding: 3%;
    padding-top: 7px;
    width: 25%;
    border: rgb(230, 230, 230) 1px solid;
    margin-top: 40px;
    margin-bottom: 40px;
}

.stores{
    padding-top: 7px;
    margin-left: 3%;
    width: 73%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.store{
    border: rgb(230, 230, 230) 1px solid;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
}

#model{
    position: fixed;
}

.rank{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 25px;
    text-align: center;
}

.space_around_ct{
    display: flex;
    justify-content: space-around;
}

#option_bt{
    width: 43%;
    height: 40px;
    background-color: rgb(234, 1, 75);
    color: white;
    font-family: 'S-CoreDream';
    font-weight: 300;
    font-size: 17px;
    border-radius: 5px;
    border: 0;
    outline: 0;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
    line-height: 20px;
}
h1{
    margin: 0;
}
h2{
    font-family: 'yg-jalnan';
    margin: 0;
    color: rgb(239, 48, 63);
}
h3{
    font-weight: 500;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
h4{
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}